<div class="row">
  <div class="col s12 l6">
    <%= render 'svg' %>
  </div>

  <div class='col s12 l6 right-align'>
    <%= link_to 'Dosage Calculator', new_path, class: 'btn-large waves-effect'%>
  </div>
</div>

<div class="row title">
  <div class="col s12">
    <h1 class="inline">Vet . </h1>
    <h1 class="inline"> Pet . </h1>
    <h1 class="inline"> Meds</h1>
  </div>
</div>
