<div class="row">
  <div class="col s12 l6">
    <!-- svg below modified from http://all-free-download.com/free-vector/download/paw_print_143905.html -->
    <svg class="paw"
     xmlns:dc="http://purl.org/dc/elements/1.1/"
     xmlns:cc="http://creativecommons.org/ns#"
     xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
     xmlns:svg="http://www.w3.org/2000/svg"
     xmlns="http://www.w3.org/2000/svg"
     xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
     xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
     version="1.1"
     id="Capa_1"
     x="0px"
     y="0px"
     width="496.863px"
     height="496.863px"
     viewBox="0 0 496.863 496.863"
     style="enable-background:new 0 0 496.863 496.863;"
     xml:space="preserve"
     inkscape:version="0.91 r13725"
     sodipodi:docname="catdog.svg"><metadata
       id="metadata5862"><rdf:RDF><cc:Work
           rdf:about=""><dc:format>image/svg+xml</dc:format><dc:type
             rdf:resource="http://purl.org/dc/dcmitype/StillImage" /><dc:title></dc:title></cc:Work></rdf:RDF></metadata><defs
       id="defs5860" /><sodipodi:namedview
       pagecolor="#ffffff"
       bordercolor="#666666"
       borderopacity="1"
       objecttolerance="10"
       gridtolerance="10"
       guidetolerance="10"
       inkscape:pageopacity="0"
       inkscape:pageshadow="2"
       inkscape:window-width="1016"
       inkscape:window-height="735"
       id="namedview5858"
       showgrid="false"
       inkscape:zoom="0.67172318"
       inkscape:cx="206.94423"
       inkscape:cy="212.92914"
       inkscape:window-x="155"
       inkscape:window-y="67"
       inkscape:window-maximized="0"
       inkscape:current-layer="Capa_1" /><g
       id="g5822"
       style="fill:none;stroke:#000000;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       transform="matrix(0.99154244,0,0,1.000018,2.10113,-0.00446581)"><path
         d="m 344.883,409.022 c 12.785,-21.984 33.229,-147.855 -132.412,-205.115 1.023,-35.783 -21.468,-87.984 -38.853,-107.416 0,0 -6.139,-29.166 -8.176,-39.904 -2.046,-10.739 -20.961,-40.401 -36.806,-43.471 0,0 -6.646,22.998 -4.6,32.197 0,0 -21.984,-21.735 -35.534,-21.611 0,0 -2.936,26.135 0.124,30.228 0,0 -24.47,16.648 -22.434,27.894 0,0 -74.606,25.704 -65.407,36.95 0,0 6.407,9.782 13.311,12.852 0,0 14.583,28.41 56.753,26.871 31.824,1.147 16.495,8.071 15.338,18.427 -1.157,10.356 1.922,27.617 1.54,34.138 -0.382,6.521 -11.503,40.65 0.383,79.369 11.886,38.729 -11.121,150.17 -25.685,157.838 -14.563,7.68 -23.763,29.023 -11.494,29.023 l 64.413,0 c 0,0 9.715,-15.588 18.149,-16.094 8.435,-0.508 10.987,-25.943 10.481,-32.848 -0.507,-6.904 4.982,-53.865 0.067,-73.803 -4.916,-19.938 1.214,-25.15 3.901,-25.914 2.687,-0.766 -7.287,-24.652 -26.077,-11.227 -8.357,5.096 -18.819,-14.029 -18.819,-14.029 0,0 -1.004,-5.594 5.011,-8.672 5.298,-8.654 -13.034,-14.201 12.269,-33.756 -1.147,-12.27 6.713,-24.93 9.964,-27.426 0,0 4.217,0.956 5.364,3.834 0,0 5.269,-13.617 12.699,-13.617 7.43,0 14.525,17.892 16.056,28.373 0,0 50.614,15.08 57.767,82.055 0,0 39.368,7.154 50.614,28.115 0,0 5.947,-25.379 13.292,-39.369 6.225,-11.848 8.176,-42.43 -19.938,-40.898 -28.113,1.529 -13.655,22.777 -12.269,26.076 3.558,8.434 -2.658,24.566 -18.914,15.846 -16.257,-8.723 -10.223,-61.344 30.676,-66.461 40.899,-5.115 53.168,34.76 45.499,64.93 -7.669,30.16 -23.008,49.84 -16.361,67.732 6.646,17.891 19.947,68.027 -27.081,87.152 l 19.421,0 c 0,0 34.76,-21.717 36.3,-28.879 1.529,-7.152 99.688,79.885 164.102,4.217 20.244,-27.426 1.53,-67.932 0,-70.992 -1.53,-3.06 -53.674,56.016 -142.634,27.385 z"
         id="path5824"
         style="fill:none;stroke:#000000;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
         inkscape:connector-curvature="0" /><path
         d="m 192.791,418.251 c -2.305,-4.982 -16.104,-2.945 -16.104,-2.945 -1.53,21.094 -25.685,61.984 -25.685,61.984 l 15.721,0 c 2.687,-38.25 44.475,-9.773 32.972,-25.111 -11.504,-15.338 -4.599,-28.936 -6.904,-33.928 z"
         id="path5826"
         style="fill:none;stroke:#000000;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
         inkscape:connector-curvature="0" /></g><g
       id="g5828" /><g
       id="g5830" /><g
       id="g5832" /><g
       id="g5834" /><g
       id="g5836" /><g
       id="g5838" /><g
       id="g5840" /><g
       id="g5842" /><g
       id="g5844" /><g
       id="g5846" /><g
       id="g5848" /><g
       id="g5850" /><g
       id="g5852" /><g
       id="g5854" /><g
       id="g5856" /></svg>
</div>

<div class='col s12 l6 right-align'>
  <%= link_to 'Dosage Calculator', new_path, class: 'btn-large waves-effect'%>
</div>
</div>

<div class="row">
  <div class="col s12">
    <h1 class="inline">Vet . </h1>
    <h1 class="inline"> Pet . </h1>
    <h1 class="inline"> Meds</h1>
  </div>
</div>
