<a href="/animals/new" class='btn-floating btn-large waves-effect'><i class='material-icons'>add</i></a>

<ul class='collection'>
  <% @animals.each do |animal| %>
    <li class='collection-item'><%= link_to "#{animal.name}", animal %></li>
  <% end %>
</ul>
