<div class="row">
  <div class="col s10">
    <h3>Patients</h3>
  </div>
  <div class="col s2">
    <a href="/animals/new" class='btn-floating btn-large waves-effect'>
      <i class='material-icons'>add</i>
    </a>
  </div>
</div>


<div class="row">
  <div class="col s12 m6">
    <%= render 'cat' %>
    <ul class='collection'>
      <% @cats.each do |animal| %>
        <li class='collection-item'><%= link_to "#{animal.name}", animal %></li>
      <% end %>
    </ul>
  </div>

  <div class="col s12 m6">
    <%= render 'dog' %>
    <ul class='collection'>
      <% @dogs.each do |animal| %>
        <li class='collection-item'><%= link_to "#{animal.name}", animal %></li>
      <% end %>
    </ul>
  </div>
</div>
