footer
  position: absolute
  bottom: 0
  width: 100%

  div
    text-align: center
    width: 500px
    margin: 0 auto

#drug-name
  font-size: 15px

.collection .collection-item
  font-size: 11px
  padding: 10px
